<h2>Available shows</h2>
<div class="col-md-4">
<%= render 'search' %>
</div>
<br/>
<div class="row">
    <% @shows.each do |show| %>
    <div class="col-md-4">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title"><%= show.name %></h5>
                <h6 class="card-subtitle mb-2 text-muted"><%= show.start_time.to_s(:time) %> To <%= show.end_time.to_s(:time) %></h6>
                <!--p class="card-text">Some quick example text to build on the card title and make up the bulk of the cards content.</p-->
                
                <%= link_to "View Details", show_path(show), class: "card-link" %>
                <% if current_user.favorited?(show) %>
                <%= link_to "Remove from favourites", remove_from_favorites_show_path(show), method: :delete, data: { turbo_method: :delete}, class: "btn btn-danger m-2 text-black" %>
                <% else %>
                <%= form_tag(add_to_favorites_show_path(show), :method => "post") do %>
                    <button type="submit" class="btn btn-primary" >Mark As Favorite</button>
                <% end %>
                <% end %>
            </div>
        </div>
    </div>
    <% end %>
    <%= will_paginate @shows %>
</div>