<h2>Show details</h2>
<div class="card" style="width: 18rem;">
<div class="card-body">
    <h5 class="card-title"><%= @show.name %></h5>
    <h6 class="card-subtitle mb-2 text-muted"><%= @show.start_time.to_s(:time) %> To <%= @show.end_time.to_s(:time) %></h6>
    <p class="card-text">Channel name : <%= @show.channel&.name %></p>
    <% if current_user.favorited?(@show) %>
    <%= link_to "Remove from favourites", remove_from_favorites_show_path(@show), method: :delete, data: { turbo_method: :delete}, class: "btn btn-danger m-2 text-black" %>
    <% else %>
    <%= form_tag(add_to_favorites_show_path(@show), :method => "post") do %>
        <button type="submit" class="btn btn-primary" >Mark As Favorite</button>
    <% end %>
    <% end %>
    <!--a href="#" class="card-link">Card link</a>
    <a href="#" class="card-link">Another link</a-->
</div>
</div>